<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/08e54455-c042-4521-b8f3-1a096836dfd3/resourcegroups/Default-Web-EastUS2/providers/Microsoft.Web/sites/fpmAngularCliAspNetCore</ResourceId>
    <ResourceGroup>Default-Web-EastUS2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fpmangularcliaspnetcore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <PublishFramework>netcoreapp1.1</PublishFramework>
    <ProjectGuid>2d11d1c4-02a5-40ef-bd4a-016b4d5cc7b0</ProjectGuid>
    <MSDeployServiceURL>fpmangularcliaspnetcore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fpmAngularCliAspNetCore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fpmAngularCliAspNetCore</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ExcludeFoldersFromDeployment>src;e2e</ExcludeFoldersFromDeployment>
    <DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>
</Project>